.selected-product {
  background-color: white;
  color: #006420;
  border-radius: 6px;
  padding: 5px 20px 20px 20px;
  margin-top: 50%;
}

.selected-product-tool {
  display: flex;
  justify-content: flex-end;
}

.selected-product-tool button {
  cursor: pointer;
}

.selected-product > div {
  margin: 4px;
}

.input {
  width: 50px;
}

.error-message {
  color: red;
  font-size: 15px;
  padding: 6px 0;
  margin: 1px 0;
}
