<div *ngIf="product" class="selected-product">
  <h2>{{ product.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ product.id }}</div>
  <div><span>name: </span>{{ product.name }}</div>
  <div><span>price: </span>{{ product.price * product.quantity }}</div>
  <div>
    <label
      >quantity:
      <input
        class="input"
        [(ngModel)]="product.quantity"
        placeholder="quantity"
        type="number"
        min="0"
        autofocus
      />
    </label>
  </div>
  <app-button
    [title]="'add the product to the cart'"
    (click)="addToCart()"
  ></app-button>
</div>
