<div *ngIf="shoppingList?.length" class="shopping-list">
  <h2>Shopping List</h2>
  <div
    *ngFor="let product of shoppingList"
    class="shopping-list__item"
  >
    <div><span>name: </span>{{ product.name }}</div>
    <div><span>quantity: </span>{{ product.quantity }}</div>
    <div><span>price: </span>{{ product.price * product.quantity }} PLN</div>
  </div>
  <h2>Sum: {{ shoppingList | sumProducts }} PLN</h2>
  <app-button
    [isWarning]="true"
    [title]="'clear shopping list'"
    (click)="clearProducts()"
  ></app-button>
  <app-button
    [title]="'buy products'"
    (click)="buyProducts()"
  ></app-button>
</div>
<div *ngIf="!shoppingList?.length && wereBought" class="shopping-list">
  <h2>The products will be delivered to your home</h2>
</div>
