.shopping-list {
  width: 90vw;
  padding: 6px;
  background-color: #006420;
  color: white;
  text-align: center;
  border-radius: 0.5em;
}

.shopping-list__item {
  border: 1px solid white;
  border-radius: 0.5em;
}
