@if (messagesService.messages.length) {
  <div class="messages">
    <h2>Messages</h2>
    @for (message of messagesService.messages; track message) {
      <div class="message">
        {{ message }}
      </div>
    }
    <app-button (click)="messagesService.clear()">
      clear history
    </app-button>
  </div>
}
@if (!messagesService.messages.length) {
  <div class="messages">
    <h2>Your message list is empty</h2>
    <span class="material-icons shopping-list_icon">playlist_remove</span>
  </div>
}
