h1 {
  color: #006420;
  font-size: 65px;
  margin: 50px 0 0 0;
  text-align: center;
  text-justify: inter-word;
}

h2,
h3 {
  color: #43b649;
  font-weight: lighter;
}

body,
input[type="text"],
button {
  color: #333;
}
