/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

app-root {
  border-radius: 0.5em;
  height: 98%;
  width: 98%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/images/market.jpg);
  background-size: cover;
}
