@if (shoppingList.length) {
  <div class="shopping-list">
    <h2>Shopping list</h2>
    @for (product of shoppingList; track product) {
      <div
        class="shopping-list__item"
        >
        <div><span>name: </span>{{ product.name }}</div>
        <div><span>quantity: </span>{{ product.quantity }}</div>
        <div><span>price: </span>{{ product.price * product.quantity }} PLN</div>
      </div>
    }
    <h2>Sum: {{ shoppingList | sumProducts }} PLN</h2>
    <app-button
      [type]="'danger'"
      (click)="clearProducts()"
    >clear shopping list</app-button>
    <app-button
      (click)="buyProducts()"
    >buy products</app-button>
  </div>
}
@if (!shoppingList.length && wereBought) {
  <div class="shopping-list">
    <h2>Shopping is coming to you.</h2>
    <h2>Payment on delivery.</h2>
    <span class="material-icons shopping-list_icon">local_shipping</span>
  </div>
}
@if (!shoppingList.length && !wereBought) {
  <div class="shopping-list">
    <h2>Your shopping list is empty</h2>
    <span class="material-icons shopping-list_icon">playlist_remove</span>
  </div>
}
