<h2>Products:</h2>
<ul class="groceries">
  <li 
    *ngFor="let product of products"
    [class.selected]="product === selectedProduct" 
    (click)="onSelect(product)">
    <span class="badge badge-id">{{product.id}}</span> {{product.name}}
    <span class="badge badge-price">{{product.price}} PLN</span>
  </li>
</ul>
<div *ngIf="selectedProduct" class="selected-product">
  <h2>{{selectedProduct.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedProduct.id}}</div>
  <div><span>name: </span>{{selectedProduct.name}}</div>
  <div><span>price: </span>{{selectedProduct.price * selectedProduct.quantity}}</div>
  <div>
    <label>quantity: 
      <input 
        [(ngModel)]="selectedProduct.quantity" 
        placeholder="quantity" 
        type="number" 
        autofocus/>
    </label>
  </div>
</div>
